.task-list{
    display: grid;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 20px;
    grid-template-columns: 80px 50px 1fr 2fr 200px;

}

.list-head{
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;

}

.list-item{
    padding: 10px;
    border: 1px solid  #ddd;
    background-color: #f0f0f0;
}

.delete-btn{
    width: 50%;
    padding: 6px;
    background-color: red;
    color: #f0f0f0;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  
}

.delete-btn:hover{
    background-color: rgb(143, 13, 13);
}

#update-btn{
    width: 50%;
    padding: 7px;
    background-color: green;
    color: #f0f0f0;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  text-decoration: none;
  margin-left: 8px;
  padding-left: 15px;
   padding-right: 15px;
}

#update-btn:hover{
    background-color: rgb(8, 87, 8);
}

.delete-many{
    width:100px;
    margin-left:20px;
}


